# Ignore build artifacts
bin/
obj/
*.pdb
*.dll
*.exe
*.cache
*.nuget.g.props
*.nuget.g.targets
*.user
*.vs/
.vscode/
*.suo
.vscode/settings.json

# Ignore NuGet dependencies
project.assets.json
project.nuget.cache
packages/

# Ignore Static Web Assets
staticwebassets.*
SupportTicketingSystem/obj/Debug/net8.0/staticwebassets.*

# Ignore build files
SupportTicketingSystem/bin/
SupportTicketingSystem/obj/

# Ignore Entity Framework Migrations Snapshot Files (Optional)
Migrations/*.Designer.cs
Migrations/*.resx

# Ignore all files in App_Data except ticket-schema.json
/SupportTicketingSystem/App_Data/*
!/SupportTicketingSystem/App_Data/ticket-schema.json

# Ignore all files in wwwroot/lib but allow Files/ticket-schema-example.json
wwwroot/lib/
wwwroot/Files/*
!/wwwroot/Files/ticket-schema-example.json