@{
    ViewData["Title"] = "Home Page";
}

@inject Microsoft.AspNetCore.Identity.UserManager<SupportTicketingSystem.Data.ApplicationUser> UserManager

<div class="container text-center mt-5">
    @if (User.Identity.IsAuthenticated)
    {
        var user = await UserManager.GetUserAsync(User);
        <h1>Welcome to STS, @user.FullName!</h1>
    }
    else
    {
        <h1>Welcome to STS!</h1>
        <p>Register or Login to get started.</p>
        <a href="@Url.Action("Register", "Account")" class="btn btn-primary"  style="background-color: #6767d6;">Register</a>
        <a href="@Url.Action("Login", "Account")" class="btn btn-secondary">Login</a>
    }
</div>